name: 'Dependabot vulerabilities notification to Slack'

on:
  workflow_dispatch:
  schedule:
    - cron: '0 10 * * 1' # Cron - every Monday at 10.00AM UTC

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Notify-Vulnerabilities:
    runs-on: ubuntu-latest
    permissions:
      security-events: read
      contents: read
    steps:
      - name: Notify Vulnerabilities
        uses: kunalnagarco/action-cve@de3f42dfceaaff2abdee84454a0db2c7b93c06ce
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}