name: 'Dependabot vulerabilities notification to Slack'

on:
  schedule:
    - cron: '0 10 * * 1' # Cron - every Monday at 10.00AM UTC

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Notify-Vulnerabilities:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Vulnerabilities
        uses: kunalnagarco/action-cve@dbe03c02d5fa519e57bda362df7120ca4173e396
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}