name: 'Dependabot vulerabilities notification to Slack'

on:
  schedule:
    - cron: '0 10 * * 1' # Cron - every Monday at 10.00AM UTC

  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  Notify-Vulnerabilities:
    runs-on: ubuntu-latest
    steps:
      - name: Notify Vulnerabilities
        uses: kunalnagarco/action-cve@da87f647e3d74c43a2f6517cff4bb8382d47a2e5
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
          slack_webhook: ${{ secrets.SLACK_WEBHOOK }}